<!DOCTYPE html>
<html lang="{{nodefony.local}}">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
      {{ error.code }}
    </title>

  </head>
  <body>
    <h1>
      <center> {{ error.code }} - {{ error.message }} </center>
    </h1>
    <h2>The request Url : {{ error.url }}
    <hr style="margin-top:20px">
    <h3>Nodefony@{{nodefony.version}}</h3>
  </body>
</html>
