{% extends './base.html.twig' %}
{% block title %}
  {{nodefony.name}}
{% endblock %}

{% block body %}

  {% block header %}
    {{ render( controller("app:app:header" )) }}
  {% endblock %}

  <div class="container" style="margin-top:100px">
    <div class="row">
      <div class="col text-center">
        <img src='{{CDN("image")}}/app/images/app-logo.png'/>
        <strong class="display-3" style="color:#0167b8;">
          {{nodefony.name|upper}}
        </strong>
        <p class="display-4 mt-5">{{trans("welcome")}}
          {{user.username}}
        </p>
        <p class="h3 mt-3">
          <a href="{{url('documentation')}}">
            <button class="btn btn-info btn-sm" type="button">
              Documentation
            </button>
          </a>
        </p>
        {% if demo %}
        <p class="h3 mt-3">
          <a href="{{url('demo')}}">
            <button class="btn btn-info btn-sm" type="button">
              Demo
            </button>
            </a
          </p>
          {% endif %}
        </h1>
        {% if readme %}
        <div>{{readme}}</div>
        {% endif %}
      </div>
    </div>
  </div>

  {% block footer %}
    {{ render( controller("app:app:footer" )) }}
  {% endblock %}

{% endblock %}
