{% extends "/app/Resources/views/base.html.twig" %}

{{trans_default_domain("doc")}}

{% block description %}
  <meta name="description" content="Nodefony Documentation {{ version }}">
{% endblock %}

{% block title %}
  {% if subsection %}
    {{ subsection | trans() | upper() }}
  {% else %}
    {% if section %}
      {{ section | trans() | upper() }}
    {% else %}
      {% if bundle %}
        {{ bundle | trans() | upper() }}
      {% else %}
        {% if version %}
          {{ version | trans() | upper() }}
        {% else %}
          NODEFONY
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block body %}
  {% if (bundle == "nodefony" or bundle == project ) and section == null %}
    <div class="container-fluid mt-8">
      <div class="row">
        <div class="col-md-12 ">
          {% block readme %}
          <div class="container">
            <div class="jumbotron jumbotron-fluid mt-8">
              <div class="container ">
                <h1 class="display-4">{{ "progress" | trans() }}</h1>
                <hr>
                <p class="lead danger">
                    {{version | trans()}}
                    /
                    {{bundle | trans()}}
                    /
                    {{section | trans()}}
                    {% if subsection %}
                      /
                      {{subsection | trans() }}
                    {% endif %}
                </p>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
      <hr style="margin-top:100px">
      <div class="container-fluid mt-8">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">Local Recent Commits
                <span class="branch badge badge-pill badge-secondary pull-right"></span>
              </div>
              <div class="card-body" style="overflow: auto;">
                <ul class="list-group list-group-flush" id="commits"></ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">GitHub Issue Queue Activity</div>
              <div class="card-body" style="overflow: auto;">
                <ul id="issues" class="list-group list-group-flush"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="container-fluid mt-8">
        <div class="row">
          <div class="col-md-2 d-md-flex bg-light pt-2">
            <!--ul class="nav flex-column flex-nowrap"-->
            <ul class="nav flex-column nav-pills">
              <a class="navbar-brand" href="{{url('documentation-version',{version:version,bundle:bundle})}}">
                {{bundle | trans() | upper}}
              </a>
              {{ render( controller("documentation-bundle:default:subSection", version, bundle, section  )) }}
            </ul>
            {% block section %}{% endblock %}
          </div>
          <div class="col-md-10 col-lg-offset-2" style="overflow:auto">
            <ol class="breadcrumb">
              {% if version %}
                <li class="breadcrumb-item">
                  <a href="{{url('documentation-version',{version:version})}}">Nodefony
                    {{version }}</a>
                </li>
              {% endif %}
              {% if bundle and ( bundle != "nodefony" or bundle == project )%}
                <li class="breadcrumb-item">
                  <a href="{{url('documentation-version',{version:version,bundle:bundle})}}">{{bundle | trans()}}</a>
                </li>
              {% endif %}
              {% if section %}
              <li class="breadcrumb-item" <a href="{{url('documentation-section',{section:section, version:version, bundle:bundle })}}">{{section | trans()}}</a>
            </li>
          {% endif %}
          {% if subsection %}
            {% set qs = {
              'subsection': subsection
            } %}
            <li class="breadcrumb-item">
              <a href="{{url('documentation-section',{section:section, version:version, bundle:bundle, queryString:qs})}}">{{subsection | trans()}}</a>
            </li>
          {% endif %}
        </ol>
        {% block readme %}
        <div class="container">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">{{ "progress" | trans() }}</h1>
              <hr>
              <p class="lead">
                  {{version | trans()}}
                  /
                  {{bundle | trans()}}
                  /
                  {{section | trans()}}
                  {% if subsection %}
                    /
                    {{subsection | trans() }}
                  {% endif %}
              </p>
            </div>
          </div>
        </div>
        {% endblock %}
        <hr style="margin-top:100px">
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
