{% set user = getUser() %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Search</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-refresh fa-spin close spinner" ></i>
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <div class="modal-body scroll-wrap">
        <div class="container text-center">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw spinner"></i>
        </div>
        <ul id="search" class="list-group"></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_nodefony" aria-controls="header_nodefony" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mr-5" href="/">
    <img src="/app/images/app-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="navbar-text pt-0 pb-0">{{nodefony.name|escape}}</span>
  </a>
  <div class="collapse navbar-collapse" id="header_nodefony">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input id="inputSearch" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="{{ " search" | trans() }}" />
            <button id="buttonSearch" data-toggle="modal" data-target="#myModal" class="btn btn-outline-success my-2 my-sm-0" type="button">
              {{ "search" | trans() }}
            </button>
          </form>
        </nav>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:red">{{ "progress" | trans() | upper()}}</a>
      </li>
    </ul>
    {% if nodefony.core %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <form action="{{url('documentation-version')}}" id='formVersion' method="POST" class="form-inline">
          <div class="form-inline input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="version">Nodefony</label>
            </div>
            <select class="custom-select align-middle mr-4" name="version" id="version"></select>
          </div>
        </form>
      </li>
      <li class="nav-item">
        <form action="{{url('documentation-version')}}" id='formProject' method="POST" class="form-inline">
          <div class="form-inline input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="version">{{nodefony.name}}</label>
            </div>
            <select class="custom-select align-middle mr-4" name="project" id="project"></select>
          </div>
        </form>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav mt-2 mt-lg-0">
      <form action="{{url('doc-lang')}}" name="formLang" id="formLang" class="form-inline">
        <div class="form-inline input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">{{"lang"| trans("messages") }}
              :
            </label>
          </div>
          <select class="custom-select align-middle mr-4" name="language" id="language">
            {% for opt in langs %}
              {% if locale == opt.value %}
                <option value="{{ opt.value|escape}}" selected="selected">
                  {{ opt.name|escape }}
                </option>
              {% else %}
                <option value="{{ opt.value|escape}}">
                  {{ opt.name|escape }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </form>

      {% if user %}
        {% if user.image %}
          <img width="32px" height="32px" class="rounded-circle" src="{{user.image}}" alt="image">
        {% else %}
          <li class="nav-link fa fa-user pr-3" style="font-size:x-large"></li>
        {% endif %}
        <li class="nav-item ">
          <a href="" class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="true">
            {{user.username}}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
