{% set user = getUser() %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <i id="spinner" class="fa fa-refresh fa-spin fa-3x fa-fw" style="float: right;font-size: 20px;margin-right: 20px;"></i>
        <h4 class="modal-title" id="myModalLabel">Search</h4>
      </div>
      <div class="modal-body scroll-wrap">
        <ul id="search" class="list-group">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_nodefony" aria-controls="header_nodefony" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand mr-5" href="/">
      <img src="/app/images/app-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="navbar-text pt-0 pb-0">{{nodefony.name|escape}}</span>
    </a>
  <div class="collapse navbar-collapse" id="header_nodefony">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input d="inputSearh" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="{{ "Search" | trans() }}">
            <button id="buttonSearh" data-toggle="modal" data-target="#myModal" class="btn btn-outline-success my-2 my-sm-0" type="button">
              {{ "Search" | trans() }}
            </button>
          </form>
        </nav>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">{{ "progress" | trans() | upper()}}</a>
      </li>
      <li class="nav-item">
        <form action="{{url('lang')}}" name="formLang" id="formLang" class="form-inline">
          <div class="form-inline input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="version">{{"VERSION"| trans("messages") }} : </label>
            </div>
            <select class="custom-select align-middle mr-4" name="version"  id="version">
              {% for ver in allVersions %}
                {% if ver == version %}
                  <option value="{{ver}}" selected="selected" class="active">{{ver}}</option>
                {% else %}
                  <option value="{{path('documentation-version',{version:ver,bundle:bundle})}}">{{ver}}</option>
                {% endif %}
              {% endfor %}
              </select>
          </div>
        </form>
      </li>

    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <form action="{{url('lang')}}" name="formLang" id="formLang" class="form-inline">
        <div class="form-inline input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">{{"lang"| trans("messages") }} : </label>
          </div>
          <select class="custom-select align-middle mr-4" name="language"  id="language">
            {% for opt in langs %}
            {% if locale == opt.value %}
            <option value="{{ opt.value|escape}}" selected>
              {{ opt.name|escape }}
            </option>
            {% else %}
            <option value="{{ opt.value|escape}}">
              {{ opt.name|escape }}</option>
              {% endif %}
              {% endfor %}
            </select>
        </div>
      </form>

      {% if  user %}
        {% if user.image %}
          <img width="32px" height= "32px" class="rounded-circle" src="{{user.image}}" alt="image">
        {% else %}
          <li class="nav-link fa fa-user pr-3" style="font-size:x-large"></li>
        {% endif %}
        <li class="nav-item ">
          <a href="" class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="true">
                {{user.username}}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
