
{% if  not section  %}
	<li class="nav-item active">
		<a class="nav-link" href="{{url('documentation-version',{version:version, bundle:bundle})}}">Home</a>
	</li>
{% else %}
	{% if section %}
		{% if subsection == section %}
			<li class="nav-item active">
				<a class="nav-link" href="{{url('documentation-section',{section:section, version:version, bundle:bundle })}}">
					{{section | trans() | capitalize()}}
				</a>
			</li>
		{% else %}
			<li class="nav-item" >
				<a class="nav-link" href="{{url('documentation-section',{section:section, version:version, bundle:bundle })}}">
				{{section | trans() | capitalize()}}
				</a>
			</li>
		{% endif %}
	{% else %}
		<li class="nav-item" >
			<a class="nav-link" href="{{url('documentation-version',{version:version,bundle:bundle})}}">
			{{section | trans() | capitalize()}}
			</a>
		</li>
	{% endif %}
{% endif %}

{% for sec in sections %}
	{% set qs = {'subsection' : sec} %}
	{% if  not section  %}
		{% set section = sec %}
		{% set qs = null %}
	{% endif %}
	{% if subsection == sec %}
		<li  class="nav-item active">
			<a class="nav-link" href="{{url('documentation-section',{section:section, version:version, bundle:bundle,queryString:qs })}}">
			{{sec | trans() | capitalize()}}
			</a>
		</li>
	{% else %}
		<li class="nav-item">
			<a class="nav-link" href="{{url('documentation-section',{section:section,version:version, bundle:bundle,queryString:qs })}}">
			{{sec | trans() | capitalize()}}
			</a>
		</li>
	{% endif %}
{% endfor %}
