{% extends "/app/Resources/views/base.html.twig" %}

{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block title %}Nodefony Monitoring{% endblock %}

{% block body %}
	<div class="hide environment" value="{{environment}}"></div>
	<div class="hide debug" value="{{debug}}" >{{debug}}</div>
{% endblock %}


{% block stylesheets %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	<link href="{{CDN('stylesheet')}}/monitoringBundle/assets/css/monitoring.css" rel="stylesheet"/>
	<link href="{{CDN('stylesheet')}}/frameworkBundle/vendors/dataTable/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	<script type="text/javascript" src="{{CDN('javascript')}}/monitoringBundle/assets/js/monitoring.js"></script>
	<script type="text/javascript" src="{{CDN('javascript')}}/frameworkBundle/vendors/dataTable/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{CDN('javascript')}}/frameworkBundle/vendors/dataTable/js/dataTables.bootstrap.js"></script>

{% endblock %}

