{{trans_default_domain("doc")}}

<a href="https://github.com/nodefony/nodefony">
  <img style="position: fixed; top: 49px; right: 0; border: 0;z-index:8000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>

<div class="container text-center mt-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="h1 font-weight-normal" style="color:#0167b8">
        <img class="" src="{{CDN('image')}}/app/images/app-logo.png"/>
        {{bundle}} {{version}}
      </h1>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-nodefony">{{ "begin" | trans() }}
          <span class="badge badge-pill badge-secondary pull-right">
            {{version}}
          </span>
        </div>
        <div class="card-body" style="overflow: auto;">
          <ul>
            <li>
              <a href="{{ path('documentation-section',{section:'installation', version:version, bundle:bundle })}}">
                {{"installation" | trans() | capitalize() }}
              </a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'started', version:version, bundle:bundle })}}">
                {{"begin" | trans() | capitalize() }}
              </a>
            </li>
            <li>
              <a href="{{ path('documentation-version',{version:version, bundle:'app' })}}">
                {{"Application" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{version:version ,section:'configurations', bundle:bundle })}}">
                {{"configurations" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle })}}">
                {{"running" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'helloWord', version:version, bundle:bundle })}}">
                Hello Word
              </a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'routing', version:version, bundle:'framework' })}}">
                {{"Routing" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'controller', version:version, bundle:'framework' })}}">
                {{"controller" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'view', version:version, bundle:'framework' })}}">
                {{"view" | trans() | capitalize() }}
              </a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'console', version:version, bundle:bundle })}}">
                {{"console" | trans() | capitalize() }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-nodefony">{{ "core" | trans() }}
          <span class="badge badge-pill badge-secondary pull-right">
            {{version}}
          </span>
        </div>
        <div class="card-body" style="overflow: auto;">
          <ul>
            <li>
              <a href="{{ path('documentation-section',{section:'architectures', version:version, bundle:bundle })}}">
                {{"Architecture" | trans() | capitalize() }}
              </a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'autoloader', version:version, bundle:bundle })}}">
                {{"Autoloader" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'kernel', version:version, bundle:bundle })}}">
                {{"Kernel" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'bundles', version:version, bundle:bundle })}}">
                {{"Bundles" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'container', version:version, bundle:bundle })}}">
                {{"Services Container" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'context', version:version, bundle:bundle })}}">
                {{"Request context" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'finder', version:version, bundle:bundle })}}">
                {{"Finder" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'fileClass', version:version, bundle:bundle })}}">
                {{"fileClass" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'notifications', version:version, bundle:bundle })}}">
                {{"notificationsCenter" | trans() | capitalize() }}</a>
            </li>
            <li>
              <a href="{{ path('documentation-section',{section:'syslog', version:version, bundle:bundle })}}">
                {{"Syslog" | trans() | capitalize() }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-nodefony">{{ "Bundles" | trans() }}
        </div>
        <div class="card-body" style="overflow: auto;">
          <ul>
            {% for myBundle in bundles %}
              <li>
                <a href="{{path('documentation-version', {version:myBundle.version, bundle:myBundle.name})}}">
                  <strong>{{myBundle.name}}</strong>
                  <span class="badge badge-pill badge-secondary pull-right">{{myBundle.version}}</span></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-nodefony">{{ "usage" | trans() }}
          <span class="badge badge-pill badge-secondary pull-right">
            {{version}}
          </span>
        </div>
        <div class="card-body" style="overflow: auto;">
          <ul>
            <li>
              <a href="{{ path('documentation-section',{section:'servers', version:version, bundle:'http' })}}">
                {{"servers" | trans() | capitalize() }}
              </a>
            </li>
            <li>
              Front Proxy NGINX
            </li>
            <li>
              Production Mode PM2
            </li>
            <li>
              Statics Files</li>
            <li>
              CDN
            </li>
            <li>
              Sessions</li>
            <li>
              Firewall</li>
            <li>
              Authentication</li>
            <li>
              Orm</li>
            <li>
              <a href="{{ path('documentation-version',{ version:version, bundle:'realTime' })}}">
                {{"realtime" | trans() | capitalize() }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTAINER-->
</div>

<hr>

<div class="container text-center mt-4">
  <h1>
    {{ "begin" | trans() }}
  </h1>
  <small>
    <a href="{{ path('documentation-section',{section:'started', version:version, bundle:bundle })}}">More details</a>
  </small>
  <!-- CONTAINER-->
</div>

<div class="container mt-4">
  <h2>NODEFONY INSTALLATION :
    <small>See more
      <a href="{{ path('documentation-section',{section:'installation', version:version, bundle:bundle })}}">( Nodefony installation documentation )
      </a>
    </small>
  </h2>
  <p class="doc3">
    Install Nodefony Globally
  </p>
  <pre class="doc3">
install with npm :

$ npm -g install nodefony

install with yarn :

$ yarn global add nodefony
  </pre>
  <a class="doc3" href="https://docs.npmjs.com/getting-started/fixing-npm-permissions">See Global install How to Prevent Permissions Errors</a>
</div>

<div class="container mt-4">

  <h2>Configurations :
    <small>See more
      <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:bundle })}}">( Nodefony Configurations documentation )
      </a>
    </small>
  </h2>
  <p class="doc3">

    By defaut NODEFONY bind all servers on loopback ( localhost : 127.0.0.1 )
  </br>

  <ul class="doc3">
    <li>
      domain : localhost
    </li>
    <li>
      http : 5151
    </li>
    <li>
      https: 5152
    </li>
  </ul>
  <p class="doc3">
    If you want change listen port http(s) by defaut or domain
    <small>
      <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:bundle, queryString:{'subsection':'framework'} })}}">( Configurations framework )
      </a>
    </small><br>
    Change config.yml Location :
    <code>./config/config.yml</code>
  </p>
  <pre class="doc3">
#####################
#  NODEFONY FRAMEWORK
#
#       KERNEL CONFIG
#
#   Domain listen : Nodefony can listen only one domain ( no vhost )
#     Example :
#      domain :  0.0.0.0      # for all interfaces
#      domain :  [::1]        # for IPV6 only
#      domain :  192.168.1.1  # IPV4
#      domain :  mydomain.com # DNS
#
#   Domain Alias : string only "<<regexp>>" use domainCheck : true
#     Example :
#      domainAlias:
#        - "^127.0.0.1$"
#        - "^localhost$"
#        - ".*\\.nodefony\\.com"
#        - "^nodefony\\.eu$"
#        - "^.*\\.nodefony\\.eu$"
#
system:
  domain                        : 0.0.0.0
  domainAlias:
    - "^127.0.0.1$"
    - "^localhost$"
  httpPort                      : 5151
  httpsPort                     : 5152
  domainCheck                   : false
  locale                        : en_en
  ##############
  # BUNDLES CORE
  security                      : true
  realtime                      : true
  monitoring                    : true
  documentation                 : true
  unitTest                      : true
  demo                          : true
  redis                         : false
  mongo                         : false
  elastic                       : false
  #########
  # SERVERS
  servers:
    statics                     : true
    protocol                    : "2.0"             #  2.0 || 1.1
    http                        : true
    https                       : true
    ws                          : true
    wss                         : true
    certificats:
      key                       : "config/certificates/server/privkey.pem"
      cert                      : "config/certificates/server/fullchain.pem"
      ca                        : "config/certificates/ca/nodefony-root-ca.crt.pem"
      options:
        rejectUnauthorized      : true
  ############
  # DEV SERVER
  devServer:
    inline                      : true
    hot                         : false
    hotOnly                     : false
    overlay                     : true
    logLevel                    : info        # none, error, warning or info
    progress                    : false
    protocol                    : https
    websocket                   : true
  ###############
  # BUNDLES LOCAL
  bundles:
    demo-bundle                 : "file:src/bundles/demo-bundle"

  #################
  # SYSLOG NODEFONY
  log:
    active                      : true

##################
#       ASSETS CDN
#
#       You set cdn with string
#       CDN :    cdn.nodefony.com
#       or
#       CDN:
#          global: cdn.nodefony.com
#       or
#       CDN:
#         stylesheet:
#           - cdn.nodefony.com
#         javascript:
#           - cdn.nodefony.com
#         image:
#           - cdn.nodefony.com
#           - cdn.nodefony.fr
#         font:
#           - cdn.nodefony.com
CDN                             : ~

#################
# ENGINE TEMPLATE
#
#       TWIG
#       https://github.com/justjohn/twig.js
#
templating                      : twig

############
# ENGINE ORM
#       sequelize || mongoose
#orm                             : mongoose
orm                             : sequelize

#########################
# NODE.JS PACKAGE MANAGER
#
#       npm
#       yarn
#
packageManager                  : npm
  </pre>

</div>

<div class="container mt-4">
  <h2>Running NODEFONY :
    <small>See more
      <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle })}}">( RUN Nodefony documentation )
      </a>
    </small>
  </h2>
  <div class="doc3">
    <pre>
# run appliation in dev mode

$ nodefony dev
    </pre>
  </div>
</div>

<div class="container mt-4">

  <h2>ACCEES NODEFONY APPLICATION :</h2>
  <div class="doc3">
    <p>
      Access to App with URL :
      <strong>http://localhost:5151</strong><br>
    </p>
  </div>

  <div class="row justify-content-center">
    <img width="800" height="463" src="/documentation-bundle/images/nodefony.png"/>
  </div>

</div>

<div class="container mt-6">

  <h2 >SIMPLE EXAMPLES NODEFONY FRAMEWORK :</h2>

  <div class="doc3 container-fluid mt-4">
    <div class=" card card-info">
      <div class="card-header bg-nodefony">
        <strong>Simple Render html</strong>
      </div>
      <div class="card-body">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="routing-tab" data-toggle="tab" href="#routing" role="tab" aria-controls="routing" aria-selected="true">
              routing.js
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="controler-tab" data-toggle="tab" href="#controler" role="tab" aria-controls="controler" aria-selected="false">
              demoController.js
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">
              Result
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="routing" role="tabpanel" aria-labelledby="routing-tab">
            <p>
              URL :
              <code>
                http://localhost:5151/doc/demo/html/nodefony
              </code>
            </p>
            <pre>
module.exports = {
  "documentation-demo": {
    pattern: "/doc/demo/html/{name}",
    defaults: {
      controller: "documentation-bundle:demo:html",
      name:	"nodefony"
    }
  }
};
            </pre>
          </div>

          <div class="tab-pane fade" id="controler" role="tabpanel" aria-labelledby="controler-tab">
            <pre>
module.exports = class demoController extends nodefony.controller {

  constructor(container, context) {
    super(container, context);
  }

  /**
   *	@method htmlAction
   */
  htmlAction(name) {
    return this.renderResponse('&lth1>' + name + '&lt/h1>');
  }
};
            </pre>
          </div>
          <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
            {{render( controller( "documentation-bundle:demo:html", "nodefony") ) }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="doc3 container-fluid mt-4">
    <div class="card card-info">
      <div class="card-header bg-nodefony">
        <strong>Rendering Twig Templates</strong>
      </div>
      <div class="card-body " >
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="routing1-tab" data-toggle="tab" href="#routing1" role="tab" aria-controls="routing1" aria-selected="true">
              routing.yml
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="controler1-tab" data-toggle="tab" href="#controler1" role="tab" aria-controls="controler1" aria-selected="false">
              demoController.js
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="twig1-tab" data-toggle="tab" href="#twig1" role="tab" aria-controls="twig1" aria-selected="false">
              Twig
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="result1-tab" data-toggle="tab" href="#result1" role="tab" aria-controls="result1" aria-selected="false">
              Result
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="routing1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="routing1-tab">
            <p>
              URL :
              <code>
                http://localhost:5151/doc/demo/render/nodefony
              </code>
            </p>
            <pre>
documentation-demo-render:
  pattern       : /doc/demo/render/{name}
  defaults: {
    controller  : "documentation:demo:render",
    "name"      : "nodefony"
  }
            </pre>
          </div>

          <div id="controler1" class="tab-pane fade" role="tabpanel" aria-labelledby="controler1-tab">
            <pre>
module.exports = class demoController extends nodefony.controller {

  constructor(container, context) {
    super(container, context);
  }

  /**
   *	@method renderAction
   */
  renderAction(name) {
    return this.render('documentation-bundle:demo:doc.html.twig', {
      name: name
    });

  }
};
            </pre>
          </div>

          <div id="twig1" class="tab-pane fade" role="tabpanel" aria-labelledby="twig1-tab">
            <pre>
&lt;h1&gt; &#123;&#123;name&#125;&#125; &lt;/h1&gt;
            </pre>
          </div>

          <div id="result1" class="tab-pane fade" role="tabpanel" aria-labelledby="result1-tab">
            {{render( controller( "documentation-bundle:demo:render", "nodefony") ) }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="doc3 container-fluid mt-4">
    <div class="card card-info">
      <div class="card-header bg-nodefony">
        <strong>Rendering JSON</strong>
      </div>
      <div class="card-body ">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" id="routing4-tab" data-toggle="tab" href="#routing4" role="tab" aria-controls="routing4" aria-selected="true"  >
              routing.yml
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="controler4-tab" data-toggle="tab" href="#controler4" role="tab" aria-controls="controler4" aria-selected="false"  >
              demoController.js
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="routing4" class="tab-pane fade show active" role="tabpanel" aria-labelledby="routing4-tab">
            <br>
            <p>
              URL :
              <code>
                http://localhost:5151/json
              </code>
            </p>
            <pre>
  json:
    pattern:  /json
    defaults: {
      "controller": "demo-bundle:demo:json"
    }
              </pre>
          </div>
          <div id="controler4" class="tab-pane fade" role="tabpanel" aria-labelledby="controler4-tab">
            <pre>
  module.exports = class demoController extends nodefony.controller {

    constructor (container, context){
      super(container, context);
    }

    jsonAction (){
      return <strong>this.renderJson</strong>({
        foo:"bar",
        bar:"foo"
      });
    }
  };
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="doc3 container-fluid mt-4">
    <div class="card card-info">
      <div class="card-header bg-nodefony">
            <strong>Rendering Websocket</strong>
      </div>
      <div class="card-body">
        <ul class="nav nav-pills" role="tablist">
          <li  class="nav-item">
            <a class="nav-link active" id="routing3-tab" data-toggle="tab" href="#routing3" role="tab" aria-controls="routing3" aria-selected="true">
              routing.yml
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="controler3-tab" data-toggle="tab" href="#controler3" role="tab" aria-controls="controler3" aria-selected="false" >
              demoController.js
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="logger3-tab" data-toggle="tab" href="#logger3" role="tab" aria-controls="logger3" aria-selected="false">
              Logger
            </a>
          </li>
        </ul>

        <div class="tab-content">

          <div id="routing3" class="tab-pane fade show active" role="tabpanel" aria-labelledby="routing3-tab">
            <br>
            <p>
              URL :
              <code>
                ws://localhost:5151/websocket
              </code>
            </p>

            <pre>
websoket:
  pattern:  /websocket
  defaults: {
    "controller": "demo-bundle:demo:websocket"
  }
  requirements:
    method:
      - GET
      - WEBSOCKET
            </pre>

          </div>

          <div id="controler3" class="tab-pane fade" role="tabpanel" aria-labelledby="controler3-tab">
            <p>
              <div class="alert alert-warning" role="alert">
                To use websocket you must understand Nodefony Request Context
              </div>
            </p>
            <pre>

module.exports = class demoController extends nodefony.controller {

  constructor (container, context){
    super(container, context);
  }

  websocketAction (<strong>message</strong>){
    switch( this.method ){
      <strong>case "GET" :</strong>
        return this.render('demo-bundle:default:websocket.html.twig', {
          name:"websoket"
        });
      <strong>case "WEBSOCKET" :</strong>
        if (message){
          // log  message client in terminal
          this.logger( message.utf8data , "INFO");
        }else{
          // prepare  push messages server
          // send messages to clients
          let i = 0 ;
          let id = setInterval(() => {
            let mess = "i am a  message "+ i +"\n" ;
            // you can use context to send data
            <strong>this.context.send(mess);</strong>
            //  or call controller method ( renderresponse , render , renderjson )
            <strong>this.renderResponse(mess);</strong>
            // log  message sending in terminal
            this.logger( "send to client :" + mess , "info");
            i++
          }, 1000);

          setTimeout( () =>{
            clearInterval(id);
            // close reason , descripton
            <strong>this.context.close(1000, "nodefony controller close socket");</strong>
            id = null ;
          }, 10000);
          // event websocket close by client
          <strong>this.context.listen</strong>(this, "onClose", () =>{
            if (id){
              clearInterval(id);
            }
          });
        }
        break;
      <strong>default :</strong>
        throw new error(" method not allowed");
    }
  }
};
              </pre>
            </div>

          <div id="logger3" class="tab-pane fade" role="tabpanel" aria-labelledby="logger3-tab">
                <br>

            <pre>
<strong>/* you can show log in terminal */</strong>

thu oct 06 2016 15:49:09 info request websocket secure  :  connection websocket connection from : 192.168.100.71 pid :86607 origin : https://nodefony.com:5152
thu oct 06 2016 15:49:09 info controler demo   :  hello server i am a client : mozilla/5.0 (macintosh; intel mac os x 10_11_6) applewebkit/537.36 (khtml, like gecko) chrome/55.0.2879.0 safari/537.36

thu oct 06 2016 15:49:10 info controler demo   : send to client :i am a  message 0
thu oct 06 2016 15:49:11 info controler demo   : send to client :i am a  message 1
thu oct 06 2016 15:49:12 info controler demo   : send to client :i am a  message 2
thu oct 06 2016 15:49:13 info controler demo   : send to client :i am a  message 3
thu oct 06 2016 15:49:14 info controler demo   : send to client :i am a  message 4
thu oct 06 2016 15:49:15 info controler demo   : send to client :i am a  message 5
thu oct 06 2016 15:49:16 info controler demo   : send to client :i am a  message 6
thu oct 06 2016 15:49:17 info controler demo   : send to client :i am a  message 7
thu oct 06 2016 15:49:18 info controler demo   : send to client :i am a  message 8

thu oct 06 2016 15:49:19 info request websocket secure  : thu oct 06 2016 15:49:19 gmt+0200 (cest) connection websocket close : 192.168.100.71 pid :86607 origin : https://nodefony.com:5152 1000 nodefony controller close socket
            </pre>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- CONTAINER -->
</div>
