{% extends '../layout.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	
	<link rel='stylesheet' href='{{CDN("stylesheet")}}/jfoBundle/assets/css/telnet.css' />
	<link rel="stylesheet" href='{{CDN("stylesheet")}}/jfoBundle/jquery-ui/jquery-ui.min.css'/>
	<link rel='stylesheet' href='{{CDN("stylesheet")}}/jfoBundle/lobipanel/css/lobipanel.min.css' />

{% endblock %}

{% block javascripts %}

	{{ parent() }}
   
    <!-- WEBPACK BUNDLE -->
	<script src='{{CDN("javascript")}}/jfoBundle/assets/js/telnet.js'></script>

	<script src='{{CDN("javascript")}}/jfoBundle/js/jquery.maskedinput.js'></script>

    <script type="text/javascript" src="{{CDN('javascript')}}/frameworkBundle/vendors/dataTable/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{CDN('javascript')}}/frameworkBundle/vendors/dataTable/js/dataTables.bootstrap.js"></script>

	<script src='{{CDN("javascript")}}/jfoBundle/jquery-ui/jquery-ui.min.js'></script>

	<script src='{{CDN("javascript")}}/jfoBundle/lobipanel/js/lobipanel.min.js'></script>

	
	<script>
		telnet.device('{{device.id}}', '{{device.hostname}}');
	</script>
{% endblock %}


{% block title %}Telnet  Serial{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4><span></span> CONSOLE</h4>
				</div>
				<div class="modal-body">
										
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>

	<div id="console" class="panel panel-default">
	    <div class="panel-heading">
	        <div class="panel-title">
	            <h4>Panel title</h4>
	        </div>
	    </div>
	    <div class="panel-body">
	        Lorem ipsum...
	    </div>
	</div>

	<img class='displayed' width="150" height="200" src='{{CDN("image")}}/jfoBundle/images/{{device.deviceType.logo }}'/>
			<h1 class="success" >
				<a href="">
					<strong  style="font-size:45px">
						{{device.hostname}}
					</strong>
				</a>
				<button type="button" class="btn btn-primary btn-lg" id="myBtn">Terminal</button>
			</h1>

	<div class="wrapper">

		<div class="row">


			<div class="col-md-12 col-lg-12 col-sm-12">

						<div id="HTTP" class="panel panel-nodefony">
							<div class="panel-heading"><strong>CONFIGURATIONS TOOLS {{device.hostname}}</strong>	</div>
							<div  class="panel-body">

								<ul class="nav nav-tabs">
									{% if device.deviceType.name == "RASPBERRYPI_CONSOLE" %}
										<li class="active" ><a data-target="#monitoring" data-toggle="tab"  >Monitoring  </a></li>
				  						<li ><a data-target="#ser2net" data-toggle="tab"  >SER 2 NET </a></li>
				  						<li ><a data-target="#usbrules" data-toggle="tab"  >USB RULES </a></li>
				  						<li ><a data-target="#showstate" data-toggle="tab"  >STATES </a></li>		
				  					{% endif %}
								</ul>
								<div class="tab-content wrapper">
									
									{% if device.deviceType.name == "RASPBERRYPI_CONSOLE" %}

									<div id="monitoring" class="tab-pane active">
										<div class="wrapper" >
											<table id="monitoringSer2net" class="table table-striped table-bordered">
													<thead>
														<tr>
															<th>port</th>
															<th>timeout</th>
															<th>enable</th>
															<th>ConnectedTo</th>
															<th>device_state</th>
															<th>device</th>
															<th>byteWriteToTcp</th>
															<th>byteWriteToDevice</th>
															<th>byteReadFromTcp</th>
															<th>byteReadFromDevice</th>
														</tr>
													</thead>
													<tbody >
													</tbody>
											</table>
											<button type="button" class="btn btn-primary btn-lg" id="myMonitoring">Monitoring</button>
											{{ device.deviceType.svgConsole }}
										</div>
									</div>

									<div id="ser2net" class="tab-pane">
										<div class="wrapper" >
											<div class=""  >
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th>Service</th>
															<th>port</th>
															<th>tty</th>
															<th>timeout</th>
															<th>Options</th>
														</tr>
													</thead>
													<tbody id="tableSer2net">
													
													</tbody>
												</table>
											</div>
										</div>
									</div>
									
									<div id="usbrules" class="tab-pane">
										<div class="wrapper" >
												<div class=""  >
													<table  class="table table-striped table-bordered">
														<thead>
															<tr>
																<th>Symlink</th>
																<th>Serial</th>
																<th>id Product</th>
																<th>Id Vendors</th>
																<th>SubSystem</th>
															</tr>
														</thead>
														<tbody id="tableUsbrules">
														
														</tbody>
													</table>
												</div>
											</div>
									</div>

									<div id="showstate" class="tab-pane">
										<div class="wrapper" >
												<div class=""  >
													<table  class="table table-striped table-bordered">
														<thead>
															<tr>
																<th>Box</th>
																<th>Serial</th>
																<th>States</th>
															</tr>
														</thead>
														<tbody id="tableState">
														
														</tbody>
													</table>
												</div>
											</div>
									</div>

									{% endif %}
			                    </div>
							</div>
			            </div>
			    	</div>
		</div>
	</div>
{% endblock %}