{% extends "./layout.html.twig" %}
{% block bodyContent %}
	<div class="col-lg-12">
		<div class="jumbotron bg-danger m-t-xxl">
			<h1>  ERROR 403 </h1>
			<p>url : {{ error.url }}</p>
			<p>bundle : {{ error.bundle }}</p>
			<p>controller : {{ error.controller }}</p>
			<p>Message : {{ error.message }}</p>
			<pre>
			{{ error.statck  }}
			</pre>
		</div>
	</div>
{% endblock %}
