{% extends "/app/Resources/views/base.html.twig" %}


{% block meta %}
  {{ parent() }}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/documentation-bundle/assets/css/slide.css"/>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="/documentation-bundle/assets/js/slide.js"></script>
  <script type="text/javascript" src="/documentation/notes.js"></script>
  <script>
  	let link = document.createElement( 'link' );
  	link.rel = 'stylesheet';
  	link.type = 'text/css';
  	link.href = window.location.search.match( /print-pdf/gi ) ? '/documentation-bundle/css/print/pdf.css' : '/documentation-bundle/css/print/paper.css';
  	document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>
{% endblock %}

{% block body %}

<div class="reveal nodefony">
  <div class="slides">
    <section>
      <img data-src="{{CDN('image')}}/app/images/app-logo.png">
      <h1>Nodefony<sup>®</sup></h1>
      <img width="200px" height="123px" data-src="{{CDN('image')}}/framework-bundle/images/nodejs/nodejs-new-pantone-black.png"/>
      <h5 class="nodefony-grey" style="text-align:center">
        Web Framework
      </h5>
    </section>

    <section>
      <span>
        <div class="d-flex flex-row bd-highlight mb-3 w-100 justify-content-center align-items-center">
          <div class="p-2 bd-highlight"><img data-src="{{CDN('image')}}/app/images/app-logo.png"></div>
          <div class="p-2 bd-highlight"><h2 style="">Nodefony<sup>®</sup></h2></div>
        </div>
      </span>
      <div class="container" style="margin-left:auto;margin-right:auto;">
        <ol style="display:contents">
          <div class="row">
              <div class="col-sm">
                <li><a href="#/3">Features</a></li>
                <li><a href="#/4">Installation</a></li>
                <li><a href="#/5">Project Generator</a></li>
                <li><a href="#/6">Serving Project</a></li>
              </div>
              <div class="col-sm">
                <li><a href="#/7">Configurations</a></li>
                <li><a href="#/8">Simple USe</a></li>
                <li><a href="#/9"></a></li>
                <li><a href="#/10"></a></li>
              </div>
          </div>
        </ol>
      </div>

    </section>

    <!-- features -->
    {% include "./features.html.twig" %}

    <!-- INSTALL -->
    {% include "./install.html.twig" %}

    <!-- CREATE -->
    {% include "./create.html.twig" %}

    <!-- RUN -->
    {% include "./run.html.twig" %}

    <section class="center">
      <img data-src="{{CDN('image')}}/app/images/app-logo.png">
      <h1>THE END</h1>
      <ul>
        <li>
          <a href="https://github.com/nodefony/nodefony">Git hub</a> <br>
        </li>
        <li>
          <a href="https://nodefony.net">Demo Starter</a>
        </li>
      </ul>

    </section>

  </div>
</div>

{% endblock %}
