<!-- WEBPACK BUNDLE -->
<link rel="stylesheet" href="{{CDN('stylesheet')}}/monitoring-bundle/assets/css/debugBar.css"/>

<div id="nodefony-container" style="z-index:100000">
  <ul class="pull-left">
    <li>
      <img class="logo" src="/framework-bundle/images/nodefony-logo.png">
      <label class="label nodefony-responsive-md">
        <a target="blank" href='{{path("monitoring-index")}}'>NODEFONY
        </a>
      </label>
      <div class="details">
        <ul>
          <li>
            <label style="color:#0167b8">NODEFONY</label>
            <span class="label-nodefony label-default">{{kernelSettings.version}}</span>
          </li>
          <li class="separator"></li>
          <li>
            <label class="nodefony-title">CONFIG</label>
          </li>
          {% for key, value in kernelSettings %}
            {% if (key != "system") and (key != "servers") and (key != "devServer") and (key != "version") and (key != "name")%}
              <li>
                <label>{{ key }}</label>
                <span class="label-nodefony label-success">{{value}}</span>
              </li>
            {% endif %}
          {% endfor %}
          <li>
            <label>Debug</label>
            <span class="label-nodefony label-success">{{debug}}</span>
          </li>
          <li>
            <label>Git Branch</label>
            <span class="label-nodefony label-success">{{git.currentBranch}}</span>
          </li>

          <li class="separator"></li>
          <li>
            <label class="nodefony-title">CONFIG SYSTEM</label>
          </li>
          {% for key, value in kernelSettings.system %}
            {% if (key != "log") and (key != "devServer") %}
              <li>
                <label>{{ key }}</label>
                <span class="label-nodefony label-success">{{value}}</span>
              </li>
            {% endif %}
          {% endfor %}
          <li class="separator"></li>
          <li>
            <label class="nodefony-title">SERVERS</label>
          </li>
          {% for key, value in kernelSettings.servers %}
            <li>
              <label>{{ key  }}</label>
              <span class="label-nodefony label-success">{{value}}</span>
            </li>
          {% endfor %}
          <li class="separator"></li>
          <li>
            <label class="nodefony-title" title="content delivery network">DOMAIN CDN</label>
          </li>
          {% if cdn %}
            {% if cdn.global %}
              <li>
                <label>Javascript
                </label>
                <span class="label-nodefony label-success">
                  {{cdn.global}}
                </span>
              </li>
              <li>
                <label>Stylesheet
                </label>
                <span class="label-nodefony label-success">
                  {{cdn.global}}</span>
              </li>
              <li>
                <label>Image
                </label>
                <span class="label-nodefony label-success">
                  {{cdn.global}}
                </span>
              </li>
              <li>
                <label>font
                </label>
                <span class="label-nodefony label-success">
                  {{cdn.global}}
                </span>
              </li>
            {% else %}
              <li>
                <label>Javascript</label>
                <span class="label-nodefony label-success">
                  {% if cdn.javascript %}
                    {{cdn.javascript}}
                  {% else %}
                    Inactive
                  {% endif %}
                </span>
              </li>
              <li>
                <label>Stylesheet</label>
                <span class="label-nodefony label-success">
                  {% if cdn.stylesheet %}
                    {{cdn.stylesheet}}
                  {% else %}
                    Inactive
                  {% endif %}
                </span>
              </li>
              <li>
                <label>Image
                </label>
                <span class="label-nodefony label-success">
                  {% if cdn.image %}
                    {{cdn.image}}
                  {% else %}
                    Inactive
                  {% endif %}
                </span>
              </li>
              <li>
                <label>Font
                </label>
                <span class="label-nodefony label-success">
                  {% if cdn.font %}
                    {{cdn.font}}
                  {% else %}
                    Inactive
                  {% endif %}
                </span>
              </li>

            {% endif %}
          {% else %}
            <li>
              <label>Javascript
              </label>
              <span class="label-nodefony label-success">
                Inactive
              </span>
            </li>
            <li>
              <label>Stylesheet
              </label>
              <span class="label-nodefony label-success">
                Inactive
              </span>
            </li>
            <li>
              <label>Image
              </label>
              <span class="label-nodefony label-success">
                Inactive
              </span>
            </li>
            <li>
              <label>font
              </label>
              <span class="label-nodefony label-success">
                Inactive
              </span>
            </li>
          {% endif %}
          <li class="separator"></li>
          <li>
            <label class="nodefony-title">DEV SERVERS</label>
          </li>
          {% for key, value in kernelSettings.system.devServer %}
            <li>
              <label>{{ key  }}</label>
              <span class="label-nodefony label-success">{{value}}</span>
            </li>
          {% endfor %}

        </ul>
      </div>
    </li>
    <li class="separator"></li>
    <li>
      <img src="/monitoring-bundle/images/nodejs_logo.png">
      <div class="details">
        <ul>
          <li>
            <label class="nodefony-title">Node.js ®</label>
            <span class="label-nodefony label-default">{{node.node}}</span>
          </li>
          <li class="separator"></li>
          {% for key, value in node %}
            <li>
              <label>{{ key }}</label>
              <span class="label-nodefony label-success">{{value}}</span>
            </li>
          {% endfor %}
          <li class="separator"></li>
          <li>
            <label class="nodefony-title">ENVIRONMENT</label>
          </li>
          {% for key, value in env %}
            <li>
              <label>{{ key }}</label>
              <span title="{{value}}" class="label-nodefony label-success">{{value}}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% if context.protocol == "2.0" %}
      <li class="separator"></li>
      <li>
        <img style="border-radius: 50%" alt="HTTP2" src="/monitoring-bundle/images/http2.png">
        <div class="details">
          <ul>
            <li>
              <label class="nodefony-title">
                HTTP Protocol
              </label>
              <span class="label-nodefony label-default">{{context.protocol}}</span>
            </li>
            <li class="separator"></li>
            <li>
              <label>
                Server Push Allowed
              </label>
              <span class="label-nodefony label-success">{{context.pushAllow}}</span>
            </li>
            <li>
              <label>
                Client Push Allowed
              </label>
              <span class="label-nodefony label-success">{{context.pushAllowed}}</span>
            </li>
          </ul>
        </div>
      </li>
    {% endif %}

    <li id="separator-workbox" class="separator hidden"></li>
    <li id="workbox" class="hidden">
      <img style="border-radius: 50%" alt="workbox" src="/monitoring-bundle/images/workbox-icon192x192.png">
      <div class="details">
        <ul>
          <li>
            <label class="nodefony-title">WORKBOX
            </label>
          </li>
          <li class="separator"></li>
          <li>
            <label>
              Version :
            </label>
            <span id="workbox-version" class="label-nodefony label-success"></span>
          </li>
          <li>
            <label>
              Worker State:
            </label>
            <span id="workbox-state" class="label-nodefony label-success"></span>
          </li>
        </ul>
      </div>
    </li>
    <li class="separator"></li>
    <li>
      <label class="label-nodefony nodefony-responsive-sm">
        <a target="blank" href='{{path("monitoring-index")}}#/config/App'>{{projectName}}</a>
      </label>
      <label class="label-nodefony label-default">{{environment}}</label>
      <div class="details">
        <ul>
          <li>
            <strong>
              <label>
                <a style="color:#0337ab" target="blank" href='{{path("monitoring-index")}}#/config/App'>
                  APP</a>
              </label>
              <span title="{{bundles.app.title}}" class="label-nodefony label-default">{{bundles.app.version}}</span>
            </strong>
          </li>
          {% for key, value in appSettings %}
            <li>
              <label>{{ key }}</label>
              <span class="label-nodefony label-success">{{value}}</span>
            </li>
          {% endfor %}
          <li>
            <label>Locale Default</label>
            <span class="label-nodefony label-success">{{services.translation.defaultLocale}}</span>
          </li>
          <li>
            <label>Domain Default</label>
            <span class="label-nodefony label-success">{{services.translation.defaultDomain}}</span>
          </li>

          <li class="separator"></li>
          <li>
            <label class="nodefony-title">SESSION</label>
          </li>
          {% if services.session.storage == "session.storage.files" %}
            <li>
              <label>Storage</label>
              <span >{{services.session.storage}}</span>
            </li>
            <li>
              <label>Path</label>
              <span >{{services.session.path}}</span>
            </li>
          {% else %}
            <li>
              <label>Storage</label>
              <span >{{services.session.storage}}</span>
            </li>
          {% endif %}
          {% if services.templating %}
            <li class="separator"></li>
            <li>
              <label class="nodefony-title">TEMPLATING</label>
              <span >{{services.templating.name}}</span>
            </li>
            <li>
              <label>Version</label>
              <span >{{services.templating.version}}</span>
            </li>
          {% endif %}
          {% if services.ORM %}
            <li class="separator"></li>
            <li>
              <label class="nodefony-title">ORM</label>
              <span >{{services.ORM.name}}</span>
            </li>
            <li>
              <label>Version</label>
              <span >{{services.ORM.version}}</span>
            </li>
          {% endif %}
          <li class="separator"></li>
          <li>
            <label class="nodefony-title">UPLOAD</label>
          </li>
          <li>
            <label>Temporary Directory</label>
            <span >{{services.upload.tmp_dir}}</span>
          </li>
          <li>
            <label>Max Size File</label>
            <span >{{services.upload.max_size}}</span>
          </li>
          <li class="separator"></li>
          <li>
            <label class="nodefony-title">BUNDLES</label>
          </li>
          {% for key, value in bundles %}
            {% if key != "app" %}
              <li>
                <label>
                  <a style="color:#2f2f2f" target="blank" href='{{path("monitoring-index")}}#/config/{{key}}'>{{ key }}</a>
                </label>
                {% if value.loader == "package" %}
                  <span title="{{value.title}}" class="label-nodefony label-success">{{value.version}}</span>
                {% else %}
                  <span title="{{value.title}}" class="label-nodefony label-default">{{value.version}}</span>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}


        </ul>
      </div>
    </li>

    <li class="separator"></li>

    <li >
      <label class="label-nodefony nodefony-responsive-md">
        <a target="blank" href='{{path("monitoring-index")}}#/services'>SERVICES</a>
      </label>
      <label class="label-nodefony label-default">{{nbServices}}</label>
      <div class="details">
        <ul>

          <li>
            <label class="nodefony-title">TRANSLATION</label>
          </li>
          <li>
            <label>Local</label>
            <span class="label-nodefony label-success">{{locale.default}}</span>
          </li>
          <li>
            <label>Domain</label>
            <span class="label-nodefony label-success">{{getTransDefaultDomain()}}</span>
          </li>
          {% if services.ORM %}
            <li class="separator"></li>
            <li>
              <label class="nodefony-title">DATABASES
              </label>
            </li>
            {% for key, value in services.ORM.connections %}
              <li>
                <label >{{key|upper}}</label>
              </li>
              <li>
                <label >State
                </label>
                <span >{{value.state}}</span>
              </li>
              <li>
                <label >Type
                </label>
                <span >{{value.type}}</span>
              </li>
              {% if value.type == "sqlite" %}
                <li>
                  <label >database
                  </label>
                  <span >{{value.db.config.database}}</span>
                </li>
              {% else %}
                <li>
                  <label >Host
                  </label>
                  <span >{{value.db.options.host}}</span>
                </li>
              {% endif %}
              <li>
                <label >ORM Models
                </label>
                <span title="{{value.db.models|keys}}">{{value.db.models|length}}</span>
              </li>
              <li class="separator"></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </li>

    <li class="separator"></li>

    <li >
      <label class="label-nodefony nodefony-responsive-sm">
        {% if id %}
          <label class="label-nodefony nodefony-responsive-sm">
            <a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}?tab=securityNav'>
              FIREWALL</a>
          </label>
        {% else %}
          <label class="label-nodefony nodefony-responsive-sm">
            FIREWALL
          </label>
        {% endif %}
      </label>

      {% if context_secure %}
        <label class="label-nodefony label-success">{{context_secure.name}}</label>
        {% if context_secure.user %}
          <label class="label-nodefony label-default">{{context_secure.user.username}}</label>
        {% endif %}

        <div class="details">
          <ul>
            <li>
              <label class="nodefony-title">FIREWALL</label>
              <label class="label-nodefony label-success">
                {{context_secure.name}}
              </label>
            </li>

            {% if context_secure.name != "OFF" %}
              <li>
                <label>
                  Provider</label>
                <span class="label-nodefony black">{{context_secure.provider}}</span>
              </li>
              <li>
                <label>
                  State</label>
                <span class="label-nodefony black">{{context_secure.state}}</span>
              </li>
              <li>
                <label>
                  Context</label>
                <span class="label-nodefony black">{{context_secure.context}}</span>
              </li>
            {% endif %}

            <li class="separator"></li>
            <li>
              <label class="nodefony-title">Token</label>
            </li>
            {% if context_secure.token %}
              <li>
                <label>Name</label>
                <span class="label-nodefony black">{{context_secure.token.name}}</span>
              </li>
              <li>
                <label>Factory</label>
                <span class="label-nodefony black">{{context_secure.token.factory}}</span>
              </li>
              <li>
                <label>Provider</label>
                {% if context_secure.token.provider %}
                  <span class="label-nodefony black">{{context_secure.token.provider}}</span>
                {% else %}
                  <span class="label-nodefony black">Not Defined</span>
                {% endif %}
              </li>
              <li>
                <label>Authenticated</label>
                <label class="label-nodefony black">{{context_secure.token.authenticated}}</label>
              </li>
              <li class="separator"></li>
              {% if context.isControlledAccess %}
                <li>
                  <label class="nodefony-title">Authorisation</label>
                </li>
                <li>
                  <label>Access Control</label>
                  <label class="label-nodefony black">{{context_secure.tokenRoles}}</label>
                </li>
              {% else %}
                <li>
                  <label class="nodefony-title">Authorisation</label>
                </li>
                <li>
                  <label>Access Control</label>
                  <label class="label-nodefony black">{{context_secure.tokenRoles}}</label>
                </li>
              {% endif %}
              {% if context_secure.user %}
                <li class="separator"></li>
                <li>
                  <label class="nodefony-title">User</label>
                </li>
                <li>
                  <label >
                    username</label>
                  <label class="label-nodefony black">{{context_secure.user.username}}</label>
                </li>
                <li>
                  <label >
                    Lang</label>
                  <span class="label-nodefony black">{{context_secure.user.lang}}</span>
                </li>
                <li>
                  <label >
                    roles</label>
                  <span class="label-nodefony black">{{context_secure.user.roles}}</span>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      {% else %}
        <label class="label-nodefony label-default">OFF</label>
        <div class="details">
          <ul>
            <li>
              <label class="nodefony-title">FIREWALL</label>
              <label class="label-nodefony label-default">
                OFF
              </label>
            </li>
            <li class="separator"></li>
            {% for key, value in security %}
              <li>
                <label style="color:#5AB155">
                  {{key|upper}}</label>
                <label class="label-nodefony label-default">OFF</label>
              </li>
              <li>
                <label >Pattern
                </label>
                <span >{{value.pattern}}</span>
              </li>
              <li>
                <label >Factory
                </label>
                <span >{{value.factory}}</span>
              </li>
              <li>
                <label >Provider
                </label>
                <span >{{value.provider}}</span>
              </li>
              <li>
                <label >Context Session</label>
                <span >{{value.context}}</span>
              </li>
              <li>
                <label >State</label>
                <span >{{value.state}}</span>
              </li>
              <li class="separator"></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </li>
    {% if context.isControlledAccess %}
      <li>
        <div class="padlock"></div>
      </li>
    {% endif %}

    <li class="separator"></li>

    <li>
      {% if route.name != "undefined" %}
        <label class="label-nodefony label-default nodefony-responsive-md">@
          {% if id %}
            <a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}?tab=request'>{{route.name}}</a>
          {% else %}
            {{route.name}}
          {% endif %}
        </label>
      {% else %}
        <label class="label-nodefony nodefony-responsive-sm">
          ROUTER
        </label>
      {% endif %}
      <div class="details">
        <ul>
          <li>
            <label class="nodefony-title">ROUTER SERVICE</label>
          </li>
          <li>
            <label>Bundle</label>
            <span class="label-nodefony label-success">{{routeur.bundle}}</span>
          </li>
          <li>
            <label>Controller</label>
            <span class="label-nodefony label-success">{{routeur.Controller}}</span>
          </li>
          <li>
            <label>Action</label>
            <span class="label-nodefony label-success">{{routeur.action}}</span>
          </li>
          {% if route.name != "undefined" %}
            <li>
              <label>Pattern</label>
              <span class="label-nodefony label-default">{{routeur.pattern}}</span>
            </li>
            <li>
              <label>File</label>
              <span class="label-nodefony label-success">{{routeur.file}}</span>
            </li>
            <li class="separator"></li>
            <li>
              <label class="nodefony-title">ROUTE</label>
            </li>
            {% for key, value in route %}
              {% if key != "variables" %}
                <li>
                  <label>{{ key }}</label>
                  <span class="label-nodefony label-success">{{value}}</span>
                </li>
              {% endif %}
            {% endfor %}
            {% for key, value in route %}
              {% if key == "variables" %}
                {% if route.variables | length %}
                  <label class="nodefony-title">Variables :</label>
                  {% for key, value in route.variables %}
                    <li>
                      <label>{{varialblesName[key]}}</label>
                      <span class="label-nodefony label-success">{{value}}</span>
                    </li>
                  {% endfor %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </li>
    <li class="separator"></li>

    <li>
      {% if proxy %}
        <label class="label-nodefony label-default">PROXY</label>
      {% endif %}
      <label class="label-nodefony label-success">{{ request.protocol | upper }}</label>
      {% if id %}
        <label class="label-nodefony nodefony-responsive-md">
          <a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}'>REQUEST</a>
        </label>
      {% else %}
        <label class="label-nodefony nodefony-responsive-md">REQUEST</label>
      {% endif %}

      <label class="label-nodefony label-default">{{ request.method }}</label>
      {% if request.crossDomain %}
        <label class="label-nodefony label-default">Cross Domain</label>
      {% endif %}
      <div class="details details-request">
        <ul>
          <li>
            <label class="nodefony-title">REQUEST</label>
          </li>
          {% for key, value in request %}
            {% if key == "url" %}
              <li>
                <label>URL</label>
                <span style="font-size:15px" class="label-nodefony label-default">{{value}}</span>
              </li>
            {% endif %}
            {% if key == "remoteAddress" %}
              <li>
                <label>Remote Address</label>
                <span>{{value}}</span>
              </li>
              <li class="separator"></li>
            {% endif %}

            {% if key == "headers" %}
              {% if id %}
                <li>
                  <label class="label-nodefony">
                    <a class="nodefony-title" target="blank" href='{{path("monitoring-index")}}#/request/{{id}}'>SHOW HEADERS</a>
                  </label>
                </li>
              {% endif %}
              {% for key, value in request.headers %}
                <!--li><label>{{ key }}</label><span class="label-nodefony black">{{value}}</span></li-->
              {% endfor %}
            {% endif %}
            {% if key == "queryPost" and request.queryPost is not empty %}
              <li>
                <label class="nodefony-title">QUERY POST</label>
              </li>
              {% for key, value in request.queryPost %}
                <li>
                  <label>{{ key  }}</label>
                  <span >{{value}}</span>
                </li>
              {% endfor %}
              <li class="separator"></li>
            {% endif %}
            {% if key == "queryGet" and request.queryGet is not empty %}
              <li>
                <label class="nodefony-title">QUERY GET</label>
              </li>
              {% for key, value in request.queryGet %}
                <li>
                  <label>{{ key  }}</label>
                  <span >{{value}}</span>
                </li>
              {% endfor %}
              <li class="separator"></li>
            {% endif %}
          {% endfor %}

          {% if proxy %}
            <li class="separator"></li>
            <li>
              <label class="nodefony-title">PROXY</label>
            </li>
            <label class="label-nodefony label-default">{{proxy.proxyVia}}</label>
            {% for key, value in proxy %}
              <li>
                <label>{{ key  }}</label>
                <span >{{value}}</span>
              </li>
            {% endfor %}
          {% endif %}

          {% if session %}
            <li class="separator"></li>
            <li>
              <label class="nodefony-title">SESSION</label>
              <label >{{session.name}}</label>
            </li>
            <li>
              <label>ID</label>
              <span class="label-nodefony label-success">{{session.id}}</span>
            </li>
            <li>
              <label>Metas</label>
              <span >
                {% for key, value in session.metas %}
                  {% if key == "lifetime" %}
                    <li>
                      <label style="margin:0 0 2px 20px" class="label-nodefony  label-default">{{ key  }}</label>
                      <span style="margin:0 0 2px 20px">{{value}}</span>
                    </li>
                  {% endif %}
                  {% if key == "created" %}
                    <li>
                      <label style="margin:0 0 2px 20px" class="label-nodefony  label-default">{{ key  }}</label>
                      <span style="margin:0 0 2px 20px">{{value|date("d/m/Y g:ia")}}</span>
                    </li>
                  {% endif %}
                  {% if key == "lastUsed" %}
                    <li>
                      <label style="margin:0 0 2px 20px" class="label-nodefony  label-default">{{ key  }}</label>
                      <span style="margin:0 0 2px 20px">{{value|date('d/m/Y g:ia')}}</span>
                    </li>
                  {% endif %}
                  {% if key == "context" %}
                    <li>
                      <label style="margin:0 0 2px 20px" class="label-nodefony  label-default">{{ key  }}</label>
                      <span style="margin:0 0 2px 20px">{{value}}</span>
                    </li>
                  {% endif %}
                  {% if key == "csrf-token" %}
                    <li>
                      <label style="margin:0 0 2px 20px" class="label-nodefony  label-default">{{ key  }}</label>
                      <span style="margin:0 0 2px 20px">{{value}}</span>
                    </li>
                  {% endif %}
                {% endfor %}
              </span>
            </li>
            <li>
              <label>Attributes</label>
              <span>
                {% for key, value in session.attributes %}
                  <li>
                    <label style="margin:0 0 2px 20px" class="label-nodefony  label-default">{{ key  }}</label>
                    <span style="margin:0 0 2px 20px">{{value}}</span>
                  </li>
                {% endfor %}
              </span>
            </li>
            <li>
              <label>Flashes</label>
              <span>
                {% for key, value in session.flashes %}
                  <li>
                    <label style="margin:0 0 2px 20px" class="label-nodefony  label-default">{{ key  }}</label>
                    <span style="margin:0 0 2px 20px">{{value}}</span>
                  </li>
                {% endfor %}
              </span>
            </li>
          {% endif %}
        </ul>
      </div>
    </li>

    <li class="separator"></li>

    <li>
      {% if id %}
        <label class="label-nodefony nodefony-responsive-md">
          <a target="blank" href='{{path("monitoring-index")}}#/request/{{id}}?tab=response'>RESPONSE</a>
        </label>
      {% else %}
        <label class="label-nodefony nodefony-responsive-md">RESPONSE</label>
      {% endif %}
      <label class="label-nodefony label-success nodefony-responsive-sm">{{ response.statusCode }}</label>
      <label class="label-nodefony label-success">{{ timeRequest }}</label>
      <div class="details nodefony-response-details">
        <ul>
          <li>
            <label class="nodefony-title">RESPONSE</label>
          </li>
          {% for key, value in response %}
            {% if key == "statuscode" %}
              <li>
                <label>{{ key }}</label>
                <span class="label-nodefony label-success">{{value}}
                  {{response.message}}</span>
              </li>
            {% else %}
              {% if key != "headers" %}
                <li>
                  <label>{{ key  }}</label>
                  <span class="label-nodefony label-success">{{value}}</span>
                </li>
              {% else %}
                <li class="separator"></li>
                <li>
                  <label class="nodefony-title">HEADERS</label>
                </li>
                {% for header, val in response["headers"] %}
                  <li>
                    <label>{{ header  }}</label>
                    <span class="label-nodefony label-success">{{val}}</span>
                  </li>
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li>

    <li class="separator"></li>
  </ul>
  <ul class="pull-right">
    <li>
      <img id="nodefonyClose" src="/monitoring-bundle/images/window-close.ico">
    </li>
  </ul>
</div>

<div id="nodefony-small" class='hidden logo' style="z-index:100001">
  <img src="/framework-bundle/images/nodefony-logo.png">
</div>

<!-- WEBPACK BUNDLE -->
<script src="{{CDN('javascript')}}/monitoring-bundle/assets/js/debugBar.js"></script>
