{% extends '/app/Resources/views/base.html.twig' %}

{% block title %}Welcome {{kernel.name}}! {% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	<link rel='stylesheet' href='{{CDN("stylesheet")}}/frameworkBundle/assets/css/framework.css' />
	<link rel='stylesheet' href='{{CDN("stylesheet")}}/testBundle/assets/css/test.css' />

{% endblock %}

{% block body %}
	<div class='container'>
		<div class='row'>
			<img class='displayed' src='{{CDN("image")}}/frameworkBundle/images/nodefony-logo.png'>
			<h1 class="success" >
				<a href="https://nodefony.net">
					<strong itemprop="name" class="text-primary" id="version" style="font-size:45px">
						NODEFONY UNIT TEST
					</strong>
				</a>
			</h1>
		</div>
	</div>
	<div class='container'>
		<div class='row displayed'>
			<button id="button" ></button>
			  <div style="border:dotted;padding:10px">
			    <span id="final_span"></span>
			    <span id="interim_span" style="color:grey"></span>
			  </div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- WEBPACK BUNDLE -->
	<script src='{{CDN("javascript")}}/frameworkBundle/assets/js/framework.js'></script>
	<script src='{{CDN("javascript")}}/testBundle/assets/js/test.js'></script>

{% endblock %}
